header {
  display: block;
  position: relative;
  min-height: 450px;
  width: 100%;
  text-align: center;
  overflow: hidden;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 0;
  background-color: #e9d5a1;
  height: 100vh;
}

.header-icon {
  display: inline;
  font-size: 20;
  text-align: center;
  width: 150px;
  height: 150px;
}

.toggle-icon {
  display: 'block';
  height: 100%;
  font-size: 25px;
  text-align: end;
  color: '#353239';
}

.ml-20 {
  margin-left: 20px;
}

.ml-10 {
  margin-left: 10px;
}

.typewriter-wrapper {
  font-size: 25px;
}

.sun {
  display:inline-block;
  position: absolute;
  width: 15vh;
  height: 15vh;
  border-radius: 50%;
  background-color: #e9d5a1;
  z-index: 9;
  top:5vw;
  right:5vw;
}